.nav-item{
  margin-right: 50px;

}

.card{
   background-color: beige;
   margin-bottom: 20px;
}

.list-group {
  margin-bottom: 20px;
  margin-left: 10px;

}

.btn{
  margin-right: 20px;
  margin-left: 10px;
}

.nav-link:hover,
.nav-link:focus{

  background-color: white; /* Light gray on hover */
  color: black; /* Blue text */
}

.nav-link {
  color: #000; /* Set to black or any preferred color */
}

  

  